@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

/*
Variables
*/

:root {
  --clr-1: #fec5bb;
  --clr-2: #fcd5ce;
  --clr-3: #fae1dd;
  --clr-4: #f8edeb;
  --clr-5: #e8e8e4;
  --clr-6: #d8e2dc;
  --clr-7: #ece4db;
  --clr-8: #ffe5d9;
  --clr-9: #ffd7ba;
  --clr-10: #fec89a;
  --transition: all 0.3s linear;
}

/*
Global Styles
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  margin: 0;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--clr-4);
}

.App {
  /*  background-color: var(--clr-3); */
  height: 100vh;
  /* background-image: url("./images/hero_blur.jpg"); */
  background-repeat: no-repeat;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  background-image: url("./images/hero_blur.jpg");
  background-size: cover;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-blend-mode: screen;
  z-index: -50;
}

.nav-active {
  transform: translate(0%);
}
