@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

/*
Variables
*/

:root {
  --clr-1: #fec5bb;
  --clr-2: #fcd5ce;
  --clr-3: #fae1dd;
  --clr-4: #f8edeb;
  --clr-5: #e8e8e4;
  --clr-6: #d8e2dc;
  --clr-7: #ece4db;
  --clr-8: #ffe5d9;
  --clr-9: #ffd7ba;
  --clr-10: #fec89a;
  --transition: all 0.3s linear;
}

/*
Global Styles
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

body {
  overflow-x: hidden;
  margin: 0;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--clr-4);
}

.App {
  /*  background-color: var(--clr-3); */
  height: 100vh;
  /* background-image: url("./images/hero_blur.jpg"); */
  background-repeat: no-repeat;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  background-image: url("./images/hero_blur.jpg");
  background-size: cover;
  width: 100%;
  height: 50%;
  background-repeat: no-repeat;
  background-blend-mode: screen;
  z-index: -50;
}

.nav-active {
  transform: translate(0%);
}

/* Add to cart animation */

.addToCart {
  padding: 10px;
  width: 150px;
  height: 50px;
  border: 0;
  position: relative;
  transition: 0.3s ease-in-out;
  overflow: hidden;
}

.addToCart:active {
  transform: scale(.9)
}

.addToCart .shoppingCart {
font-size: 1.3rem;
position: absolute;
z-index: 2;
top: 50%;
left: -10%;
transform: translate(-50%, -50%);

}

.addToCart .boxCart {
  font-size: 1.2rem;
  position: absolute;
  z-index: 1;
  top: -30%;
  left: 51%;
  transform: translate(-50%, -50%);
  color: black;
}

.addToCart span {
  position: absolute;
  z-index: 3;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}

.addToCart span.add {
  opacity:1;
}

.addToCart span.added {
  opacity: 0;
}

.addToCart.clicked .shoppingCart {
  animation: cart 1.5s ease-in-out forwards;
}

.addToCart.clicked .boxCart {
  animation: box 1.5s ease-in-out forwards;
}

.addToCart.clicked span.add {
  animation: txt1 1.5s ease-in-out forwards;
}

.addToCart.clicked span.added {
  animation: txt2 1.5s ease-in-out forwards;
}

@keyframes cart {
  0% {
    left: -10%;
  }
  40%, 60% {
    left:50%;
  }
  100% {
    left: 110%
  }
}

@keyframes box {
  0%, 40% {
    top: -20%;
  }
  60% {
    top:40%;
    left:52%;
  }

  100% {
    top: 40%;
    left: 112%
  }
}

@keyframes txt1 {
  0% {
    opacity: 1;
  }
  20%, 100% {
    opacity: 0;
  }
}

@keyframes txt2 {
  0%, 80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}